
#title{
    font-family: "KG Inimitable Original", Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: goldenrod;
}

#subheading{
    font-family: "KG Inimitable Original", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

li a {
    color: silver; /* Replace 'blue' with your desired color */
}

img{
    width: 300px;
    height: auto;
}

body {
    font-family: "Atwic", Arial, Helvetica, sans-serif;
  }